.Introduction
   .Introduction__ttl
      .Introduction__ttl__title
         料理共有アプリケーション
      .Introduction__ttl__article
         一人暮らしを初め、自炊を試みたが料理のネタが尽きないように自炊の応援する為にこちらのアプリケーションを作成しました。
   .Introduction__purpose
      .Introduction__purpose__1
         .Introduction__purpose__1__title
            簡易料理
         .Introduction__purpose__1__article
            無難しい料理ではなくて簡単な料理を紹介、共有して頂き料理の楽しさを分かち合えたらいいなと思っています。
      .Introduction__purpose__1
         .Introduction__purpose__1__title
            画像投稿
         .Introduction__purpose__1__article
            画像投稿をすることにより、作ったという記録を残して共有できたらいいなと考えています。
      .Introduction__purpose__1
         .Introduction__purpose__1__title
            ランキング機能
         .Introduction__purpose__1__article
            ランキング機能を実施する事により、どの料理が多くの方に気に入られているかの確認の為になります。
   