.Introduction
   .Introduction__ttl
      .Introduction__ttl__title
         時間を大切にする
      .Introduction__ttl__article
         主婦にとって毎日の献立を考えるのはとても大変。考える時間を少しでも減らし自分の時間を取って頂きたいと言う事を考え、こちらのサイトを作成しました。
   .Introduction__purpose
      .Introduction__purpose__1
         .Introduction__purpose__1__title
            カレンダー機能
         .Introduction__purpose__1__article
            カレンダー機能を使う事により同じ料理を何回も作る事により食べて頂く方に飽きが出ないように管理してください。
      .Introduction__purpose__1
         .Introduction__purpose__1__title
            動画
         .Introduction__purpose__1__article
            動画掲載する事により、作り方の確認をしながら調理をして頂けます。
      .Introduction__purpose__1
         .Introduction__purpose__1__title
            ランキング機能
         .Introduction__purpose__1__article
            ランキング機能を実施する事により、どの料理が多くの方に受け入れられているかの確認する為になります。
   