.Side
  .Side__bar
    .Login
      = link_to edit_user_path(current_user) do
        ログイン画面
    %p.Side__bar__name レシピ関連サービス
    %ul.List
      %li.List__movie 料理動画
      %li.List__Ranking レシピランキング
      %li.List__Ranking レシピカテゴリー

