.tweet-new{
  margin: 0px 80px 0px 80px;
  background-color: white;
  text-align: center;
  height: 550px;
}
h1{
  font-size: 20px;
  text-align: center;
}
.Form-title{
  margin-top: 20px;
}
.title-post{
  width: 300px;
}
.Form-image{
  margin-top: 20px;
}
.Form-text{
  margin-top: 20px;
}
.Form-send{
  margin-top: 20px;
}
h2{
  margin: 0px 10px 0px 10px;
}

