.Tweet-show{
  padding: 100px 80px 0px 80px;
  width: 100%;
}
.Tweet-show-article{
  text-align: center;
}

.Tweet-show-title{
  color: #7f7f7f;
  font-size: 20px;
  margin-bottom: 20px;
}
.Tweet-show-image{

}
.Tweet-show-img{
  width: 400px;
}
.Tweet-show-text{
  color: #7f7f7f;
}

.more{
  ul{
    li{
    font-size: 20px;
    }
  }
}

